@import url('https://fonts-googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
h1 {
    font-weight: 600;
    font-size: 1.5rem;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*------------------ navbar -------------------------*/
      .sidebar-item{
        border: 0px solid;
        margin-left: 3.5rem;
        margin-right: 1.5rem;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
      }
      .sidebar-item a{
        color: black;
        font-weight: 400;
      }
      .sidebar-item:hover, .sidebar-item:hover i, .sidebar-item:hover a{
        /*border: 1px solid #b4628f;*/
        color: #cc7fa9;
        border-radius: 2px;
        font-weight: 600;
        /*background-color: #ece1e7;*/
        /*color: white;*/
        transition: 0.5s;
      }
      

/* ------------------- Owner Panel -------------------- */

.container{
   /* background-color: #3b7ddd;*/
    margin-top: 20px;
    width: 100%;
    min-height: 100%;
}

.first {
    /*background-color:aqua;*/
    margin-bottom: 20px;
    width: 100%;
    min-height: 100px;
    
}
.second {
    /* background-color: blueviolet; */
    margin-bottom: 10px;
    /* width: 100%; */
    min-height: 100px;
}

.third {
    /*background-color: tomato;*/
    min-height: 200px;
    /*width: 100%;*/
    margin-bottom: 10px;
}

.first .card{
    background: white;
    margin: 10px 10px;
    box-shadow: 0 7px 25px #ca9fb865;
    justify-content: space-between;
    border-radius: 20px;
    cursor: pointer;
}
.first .card-icon{
     margin-bottom: 10px;
     color:grey;
}
.first .card .card-title {
    font-weight: 600;
    color: #cc7fa9;
    margin-top: 13px;
}
.first .card .card-text{
    color: dimgrey;
    font-size: 0.9rem;
}
.first .card:hover{
    background: #cc7fa9;
}
.first .card:hover .card-title, .first .card:hover .card-text, .first .card:hover .card-icon{
    color: whitesmoke;
}

.third table{
    border-bottom: 0px none;
    justify-content: center;
    position: relative;
    border-color: transparent;
    width: 100%;
    --bs-table-bg: transparent;
}

.third img{
    width: 3.1rem;
    height: 3.1rem;
}
.third .product-name{
    font-weight: 600;
    margin-bottom: 0;
    position: relative;
}
.third .product-span, .display-products-span-caption-p{
    color: dimgrey;
    font-size: 0.8rem;
    margin: 0;

}
.third .top-products, .third .recent-orders, .display-products-caption{
    font-weight: 600;
    color:black;
}
.third .borded-p{
    text-align: center;
    background-color: #cc7fa9;
    border-radius: 4px;
    padding: 2px 4px;
    color: white;
    font-weight: 600;
    margin-top: 6px;
    
}
.order tr td:nth-child(4) {
    text-align: start;
}
/**************************Rating Star*****************************************/

.rating-stars{
    color: #b9b9b9;
    line-height: 10px;
}
.grey-stars{
    height: 100%;
}
.filled-stars{
    color: #FFD43B;
    margin-left: 45px;
    margin-top: -18px;

} 
.filled-stars::before,
.grey-stars::before{
    content: "\2605 \2605 \2605 \2605 \2605";
    font-size: 26px;
    line-height: 18px;
}


/**********************Display Products****************************/
.table-display-products tr{
    border-color: transparent;
}
.table-display-products table tbody{
    vertical-align: bottom;
}
.table-display-products th, td{
    padding: 15px;
    margin: 15px;
}
.table-display-products thead tr:first-child{
    border-bottom-color: transparent;
}
.table-display-products thead tr:nth-child(2){
    border-color: black;
    border-bottom-width: 5px;
}
.table-display-products th a{
    color: #cc7fa9;
}
.table-display-products th a:hover{
    color: #b4628f;
    text-decoration-line: underline;
}
.table-display-products input{
    font-size: 13px;
}
.table-display-products select{
    font-size: 13px;
    border-color: black;
}
.table-display-products select:focus{
    box-shadow: none;
    border-color: black;
    border-width: 2px;
}
.updateProductsButton{
    border-color: transparent;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}
.ShowProductsButton{
    border-color: transparent;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}
.ShowMessageModal{
    border-color: transparent;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}
.ShowMessageModal i {
    color: #d61b6c;
}
.ShowMessageModal i:hover{
    color: #d74785;
    font-size: 22px;
}


.ShowProductsButton i {
    color: #ece912fd;
}
.ShowProductsButton i:hover {
    color: #cac700fd;
    font-size: 22px;
}
.DeleteProductButton i{
    color:#df0f0f;
    cursor: pointer;
}
.DeleteProductButton i:hover{
    color:#962626;
    font-size: 22px;
}
.orderingButton{
    border-color: transparent;
    background-color: transparent;
}
.orderingButton:hover{
    color: #b4628f;
    background-color: #cccccc;
    border-radius: 2px;
}

.updateProductsButton i{
    color: #cc7fa9;
    cursor: pointer;
}
.updateProductsButton i:hover{
    color: #b4628f;
    font-size: 22px;
}

/********************Display Orders*************************/
.filter-orders{
    margin-left: -12px;
    margin-right: -10px;
    margin-bottom: 10px;
    background-color: transparent;
    border-color: transparent;
}
.filter-orders:hover:not(focus){
    color: #b4628f;
    background-color: #cccccc;
    border-radius: 2px;
}
.filter-orders:focus:not(hover){
    color: #b4628f;
    font-weight: 600;
    text-decoration-line: underline;
    background-color: transparent;
}
.filter-orders-date input{
    color: #b4628f;
    border: 1px solid #b4628f;
}