/************* signup.php *************/

main{
    height: 90vh;
}
.signup-container {
    margin: 2rem;
}

.signup-outline {
    display: flex;
    justify-content: center;
}

.signup-background {
    background-color: #dacad8;
    padding: 1rem;
    min-height: 300px;
    width: 400px;
    display: flex;
    justify-content: flex-start;
}

.container-fluid .signup-container .signup-outline .sign-in tr td {
    padding: 0.5rem;
    color: black;
}

/* .sign-in tr td input {
    border-radius: 0.3rem;
} */

.singin-btn {
   border: white 1px solid;
   padding: 10px 30px;
   margin: 10px;
   margin-left: 3.8rem;
   font-weight: 600;
   background-color: #dacad8;
}
.singin-btn:hover{
    background-color: white;
}
.green-btn:hover {
    color: #fff;
    background-color: #28a745;
}

.green-btn:focus {
    outline: none;
    transform: scale(0.9);
}
/*******login*********/
.btnSignup a{
    color:black;
}
.btnSignup{
    text-align: center;
}


td.success input {
border-color: #2ecc71;
}

td.error input{
border-color: #e74c3c;
}

td small {
color: #e74c3c;;

}

 
.success  {
color: #2ecc71;
}

.error {
color: #e74c3c;
}
.header img{
	width: 200px;
}
.header{
	background-color: var(--color-1);
	padding: 12px 0;
	line-height: 1.5;
}

.header .logo,
.header .nav{
	padding:0 15px;
}
.header .logo a{
	font-size: 30px;
	color: #ffffff;
	text-transform: capitalize;
}
.header .nav ul li{
	display: inline-block;
	margin-left: 40px;
}
.header .nav ul li a{
	display: block;
	font-size: 16px;
	text-transform: capitalize;
	color: #aaaaaa;
	padding: 10px 0;
	transition: all 0.5s ease;
}
.header .nav ul li a.active,
.header .nav ul li a:hover{
	color: #232323;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ffffff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
ul{
	list-style: none;
}