/************* signup.php *************/

main{
    height: 90vh;
}
.signup-container {
    margin: 2rem;
}

.signup-outline {
    display: flex;
    justify-content: center;
}

.signup-background {
    background-color: #dacad8;
    padding: 1rem;
    min-height: 300px;
    width: 400px;
    display: flex;
    justify-content: flex-start;
}

.container-fluid .signup-container .signup-outline .sign-in tr td {
    padding: 0.5rem;
    color: black;
}

/* .sign-in tr td input {
    border-radius: 0.3rem;
} */

.singin-btn {
   border: white 1px solid;
   padding: 10px 30px;
   margin: 10px;
   margin-left: 3.8rem;
   font-weight: 600;
   background-color: #dacad8;
}
.singin-btn:hover{
    background-color: white;
}
.green-btn:hover {
    color: #fff;
    background-color: #28a745;
}

.green-btn:focus {
    outline: none;
    transform: scale(0.9);
}
/*******login*********/
.btnSignup a{
    color:black;
}
.btnSignup{
    text-align: center;
}


td.success input {
border-color: #2ecc71;
}

td.error input{
border-color: #e74c3c;
}

td small {
color: #e74c3c;;

}

 
.success  {
color: #2ecc71;
}

.error {
color: #e74c3c;
}
